.thread-list-container {
    margin: 38px 14% 0 14%;
}

.padding-threads-left {
    padding-left: 60px;
}

.menu-threads {
    list-style: none;
    padding: 0;
}

.menu-threads-button {
    background: none;
    color : $text;
    border-radius: 8px;
    margin: 0;
    padding: 8px 44px 8px 12px;
    &:hover {
        color : white;
        background-color: $link-clicked;
    }
}