.sans-serif {
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    color : $text;
    height: 100%;
}

body {
    // background: url('https://cdn.discordapp.com/attachments/450559026338594827/451390550076293130/Question.png') !important;  
    // background: url('https://cdn.discordapp.com/attachments/450559026338594827/450560444659138561/unknown.png') !important;        
    // background: url('https://media.discordapp.net/attachments/450559026338594827/450560840358166529/unknown.png') !important;    
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
}

h1{
    @extend .sans-serif;
    font-weight: 600;
    font-size : 32px;
    line-height: 44px;
    color : $text;
}

h1 + p {
    margin : 0 0 36px 0;
}

h1 + h2 {
    margin : 0 0 26px 0;
}

h2 {
    @extend .sans-serif;
    font-weight : 400;
    font-size : 22px;
    line-height: 32px;
    color : $text;
}

h2 + a {
    margin : 0 0 30px 0;
}

h3 {
    @extend .sans-serif;
    font-weight : 400;
    font-size : 20px;
    line-height: 28px;
    color : $text;
}

p {
    @extend .sans-serif;
    font-weight : 400;
    font-size :16px;
    line-height: 24px;
    color : $text-light;
}

p::before {
    @extend .sans-serif;
    font-weight : 400;
    font-size : 14px;
    line-height: 22px;
    color : $text-light;
}

a {
    @extend .sans-serif;
    font-weight : 600;
    font-size : 16px;
    line-height: 24px;
    margin: 0 30px 0 12px;
    color : $menu-item;
    &:hover {
        color : $link-clicked;
    }
}

i.fas {
    font-size : 16px;
}

label {
    float: left;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    color : $text-light;
}

input, button, select {
    margin : 8px 0 18px 0;
    padding: 12px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid $text-light;
    transition: box-shadow 0.2s ease-in-out;
    &:hover {
        box-shadow: 0 0 4px $input-basic;
    }
}

input[type=button], input[type=submit], button {
    border: none;
}

input[type=search] {
    width: 330px;
    font-size: 12px;
}

input[type=text], input[type=email], input[type=mail], input[type=password] {
    overflow: visible;
    background-color: $background;
}

input.error {
    color : white;
    border-color: $danger;
}

input.sucess {
    color : white;
    border-color: $success;
}

select {
    background-color: $background;
    border: 2px solid $input-basic;
    -webkit-appearance: none;
    -moz-appearance: none;
    &::-ms-expand {
        display: none;
    }
}

img.responsive {
    width: 100%;
}