$menu-item: #00AEEF;
$logo-hover: #FECF39;
$label-topbar: #FFDF6D;
$label-picture : #dbdbdb;
$search-box: #81736a;
$violet : #8781bd;
$success-max: #00797A;
$success-link: #74c7a8;
$error-link: #ffa2ad;
$link-clicked: #009AD4;
$text: #393c3e;
$text-light: #71787e;
$background: #eff3f6;
$input-empty: #dfe3e9;
$input-basic: #8c98a9;
$btn-primary: #1071bb;
$success: #26b10f;
$danger: #ed1c24;

.background-page {
    padding-top: 35px;
    height: 100%;
    background-color: $background;
}

.white { 
    &-text {
        color : white;
    }
    &-back {
        background-color: white;
    }
}

.sucess {
    &-text {
        color : $success;
    }
    &-back {
        background-color: $success;
    }
}

.danger {
    &-text {
        color : $danger;
    }
    &-back {
        background-color: $danger;
    }
}

button.sucess-back, input.sucess-back {
    color : white;
    background-color: $success;
    &:hover {
        background-color: #20940c;
    }
    &:active {
        background-color: #19690b;
    }
}

.link-back {
    color : white;
    background-color: $menu-item;
    &:hover {
        background-color: rgb(0, 135, 184);
    }
    &:active {
        background-color: rgb(0, 98, 134);;
    }
}

.pinterest {
    &-back {
        background-color: #bd081c;
    }
    &-text {
        color : #bd081c;
    }
}

.dribble {
    &-back {
        background-color: #ea4c89        
    }
    &-text {
        color: #ea4c89 
    }
}

.twitter {
    &-back {
        background-color: #55acee
    }
    &-text {
        color: #55acee
    }
}

.facebook {
    &-back {
        background-color: #3b5999

    }
    &-text {
        color : #3b5999;
    }
}