$menu-item: #00AEEF;
$logo-hover: #FECF39;
$label-topbar: #FFDF6D;
$label-picture : #dbdbdb;
$search-box: #81736a;
$violet : #8781bd;
$success-max: #00797A;
$success-link: #74c7a8;
$error-link: #ffa2ad;
$link-clicked: #009AD4;
$text: #393c3e;
$text-light: #71787e;
$background: #eff3f6;
$input-empty: #dfe3e9;
$input-basic: #8c98a9;
$btn-primary: #1071bb;
$success: #26b10f;
$danger: #ed1c24;
