@import './color';
@import './global';
@import './dist';
@import './display';

@import '../Components/Card/Card';
@import '../Components/input/input';
@import '../Components/Nav/Nav';
@import '../Components/index/index';
@import '../Components/login/login';
@import '../Components/select/select';
@import '../Components/searchBox/searchBox';
@import '../Components/ListThread/ListThread';
.center {
    text-align: center;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.full-width {
    width: 100%;
}   

.vertical-center {
    margin-top: 50%;
}

.rounded {
    border-radius: 100%;
}