@import './color';
@import './global';
@import './dist';

@import '../Components/input/input.scss';
@import '../Components/index/index';
@import '../Components/login/login';
@import '../Components/select/select';
@import '../Components/searchBox/searchBox';

.center {
    text-align: center;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

.card {
    box-shadow: 0px 0px 7px $text-light;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.full-width {
    width: 100%;
}   

.vertical-center {
    margin-top: 50%;
}

.rounded {
    border-radius: 100%;
}